html {
  background-color: black
}
button {
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
}
.tictactoe {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}
h1 {
  margin-bottom: 100px;
}

.player-dashboard{
  margin-top: -50px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.player {
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: none;
  font-size: 20px;
  
}
::placeholder{
  font-weight: 800;
  color:black;
  opacity: 1;
}
.gameboard {
    margin-top: 20px;
    display: none;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: min(50%,60vw);
    height: 60vh;
    background-color: black;
    color: white;
    
}

/* Add border bottom to all items */
.cell {
    padding: 20px 10px 10px 10px;
    border: 4px solid white;
    font-size: 80px;
    text-align: center;
    pointer-events: default;
  }
  
  /* Remove border bottom from last item & from second last if its odd */
        .cell:nth-child(3n+1) {
          border-left: none;
        }
        .cell:nth-child(3n+3) {
          border-right: none;
        }
        .cell:nth-child(n+1) {
            border-top: none;
        }
        .cell:nth-child(n+7){
            border-bottom: none;
        }
  
.endgamescreen {
  display: none;
  width: 40vw;
  height: 40vh;
  text-align: center;
  transform: translate(0%,-150%);
  z-index: 1;
  background-color: #837f7f;
}
